name: build
on: [pull_request]

jobs:
  build:
    name: Build package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install wheel
        run: pip install wheel
      - name: Build sdist and wheel
        run: python setup.py sdist bdist_wheel
        working-directory: src

  containers:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        dockerfile:
          - images/Dockerfile.el9
          - images/Dockerfile.el8
          - images/Dockerfile.el7
          - images/Dockerfile.f34
          - images/Dockerfile.f33
          - images/Dockerfile.suseLeap42
    steps:
      - uses: actions/checkout@v2
      - name: ${{ matrix.dockerfile }}
        env:
          DOCKERFILE: ${{ matrix.dockerfile }}
        run: make docker-test && make docker-clean
